@use "variables" as v;

@mixin spacer($space: 1em, $element-1: "*", $element-2: "*") {
  & > #{$element-1} + #{$element-2} {
    margin-block-start: $space;
  }
}

@mixin hideInput() {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  outline: none;
}
