@use "../abstracts" as v;

.contact-form {
  label,
  input,
  textarea,
  button {
    inline-size: 100%;
  }
  padding: v.$space-24-40-768;
  background-color: v.$white;
  border-radius: v.$space-16;
  inline-size: 100%;
  max-inline-size: min(12.7887rem + 36.9014vw, 46rem);
  @include v.spacer(v.$space-40);

  .contact-form-body {
    @include v.spacer(v.$space-24);
    .contact-information {
      display: grid;
      gap: v.$space-24;

      @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        :nth-child(4) {
          grid-row: 2;
          grid-column: 1 / span 2;
        }
      }
    }
    .contact-form-query {
      @include v.spacer(v.$space-16);
      .query-inputs {
        display: flex;
        gap: v.$space-16;
        flex-direction: column;
        @media (min-width: 768px) {
          flex-direction: row;
        }
        * {
          flex: 1;
        }
      }
    }
  }
}
