@use "../abstracts" as v;

.contact-form {
  padding: v.$space-24-40-768;
  max-inline-size: 736px;
  background-color: v.$white;
  border-radius: v.$space-16;
  display: flex;
  flex-direction: column;
  gap: v.$space-40;
}
