@use "../abstracts" as v;
.button {
  border-radius: v.$space-8;
  padding: v.$space-16 v.$space-40;
  background-color: v.$green-600;
  border: none;
  color: v.$white;
  transition: background-color 100ms ease-in-out;
  &:hover {
    background-color: v.$grey-900;
  }
  &:is(:focus, :focus-visible) {
    outline: 2px solid v.$grey-900;
  }
}
