@use "../abstracts" as v;

.checkbox-input {
  & input[type="checkbox"] {
    @include v.hideInput();
  }
  &:has(input:checked) {
    --radio-icon: url("../assets/images/icon-checkbox-check.svg");
  }
  &:has(input:focus, input:focus-visible) {
    outline: 1px solid v.$green-600;
  }
  &::before {
    content: "";
    display: inline-block;
    height: v.$space-24;
    aspect-ratio: 1;
    background: var(--radio-icon, url("../assets/images/icon-checkbox.svg"))
      no-repeat center;
  }
  display: flex;
  align-items: center;
  justify-content: start;
  gap: v.$space-16;
}
