@use "../abstracts" as v;
.form-control {
  input {
    border-radius: 8px;
    border: 1px solid v.$grey-500;
    cursor: pointer;
    display: inline-block;
    padding: 12px 24px;
    &:hover {
      border: 1px solid v.$green-600;
    }
  }
}
