@use "../abstracts" as v;

.radio-selection {
  & input[type="radio"] {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
  }
  &:has(input:checked) {
    background-color: v.$green-200;
    border: 1px solid v.$green-600;
    --radio-icon: url("../assets/images/icon-radio-selected.svg");
  }
  &:has(input:focus, input:focus-visible) {
    outline: 1px solid v.$green-600;
  }
  &::before {
    content: "";
    display: block;
    height: v.$space-24;
    aspect-ratio: 1;
    background: var(--radio-icon, url("../assets/images/icon-radio.svg"))
      no-repeat center;
  }

  display: flex;
  align-items: center;
  justify-content: start;
  gap: v.$space-12;
  padding: v.$space-12 v.$space-24;
  border: 1px solid v.$grey-500;
  border-radius: v.$space-8;
}
