@use "../abstracts" as v;

.text-input {
  display: flex;
  flex-direction: column;
  gap: v.$space-8;

  & input,
  textarea {
    --border-color: #{v.$grey-500};
    transition: border-color 100ms ease-in-out;
    border-radius: v.$space-8;
    border: 1px solid var(--border-color);
    cursor: pointer;
    display: inline-block;
    padding: v.$space-12 v.$space-24;
    outline: none;
    &:is(:focus, :focus-visible, :hover) {
      --border-color: #{v.$green-600};
    }
    &:user-invalid {
      --border-color: #{v.$red-error};
    }
  }
}
