@use "../abstracts" as v;

.text-input {
  @include v.spacer(v.$space-8);
  label,
  input,
  textarea {
    display: block;
  }

  textarea {
    max-block-size: 105px;
  }

  & input,
  textarea {
    --border-color: #{v.$grey-500};
    transition: border-color 100ms ease-in-out;
    border-radius: v.$space-8;
    border: 1px solid var(--border-color);
    cursor: pointer;
    display: inline-block;
    padding: v.$space-12 v.$space-24;
    outline: none;
    &:hover {
      --border-color: #{v.$green-600};
    }
    &:is(:focus, :focus-visible) {
      outline: 1px solid var(--focus-color, transparent);
      --focus-color: #{v.$green-600};
    }
    &:user-invalid {
      --border-color: #{v.$red-error};
      --focus-color: #{v.$red-error};
    }
  }
}
