@font-face {
  font-family: "Karla";
  font-style: normal;
  src: local("Karla"),
    url("../assets/fonts/Karla-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Karla";
  font-style: italic;
  src: local("Karla"),
    url("../assets/fonts/Karla-Italic-VariableFont_wght.ttf") format("truetype");
}
