@font-face {
  font-family: "Karla";
  font-style: normal;
  src: local("Karla"), url("../assets/fonts/Karla-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Karla";
  font-style: italic;
  src: local("Karla"), url("../assets/fonts/Karla-Italic-VariableFont_wght.ttf") format("truetype");
}
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

fieldset {
  border: none;
  display: block;
}

body {
  background-color: #e0f1e8;
  block-size: 100dvh;
}

main {
  block-size: 100%;
  padding-inline: 1rem;
  display: grid;
  place-items: center;
}

body {
  font-family: "Karla", sans-serif;
  line-height: 150%;
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 1.125rem;
  line-height: inherit;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hidden {
  display: none;
}

.text-input > * + * {
  margin-block-start: 0.5rem;
}
.text-input label,
.text-input input,
.text-input textarea {
  display: block;
}
.text-input input,
.text-input textarea {
  --border-color: #86a2a5;
  transition: border-color 100ms ease-in-out;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  outline: none;
}
.text-input input:hover,
.text-input textarea:hover {
  --border-color: #0c7d69;
}
.text-input input:is(:focus, :focus-visible),
.text-input textarea:is(:focus, :focus-visible) {
  outline: 1px solid var(--focus-color, transparent);
  --focus-color: #0c7d69;
}
.text-input input:user-invalid,
.text-input textarea:user-invalid {
  --border-color: #d73c3c;
  --focus-color: #d73c3c;
}

.button {
  border-radius: 0.5rem;
  padding: 1rem 2.5rem;
  background-color: #0c7d69;
  border: none;
  color: #ffffff;
  transition: background-color 100ms ease-in-out;
}
.button:hover {
  background-color: #2a4144;
}
.button:is(:focus, :focus-visible) {
  outline: 2px solid #2a4144;
}

.error-message {
  color: #d73c3c;
  opacity: 100%;
  transition: opacity 300ms ease-in-out;
}

.toast {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 24px;
  max-inline-size: 498px;
  inline-size: 100%;
}
.toast div {
  transition: opacity 800ms ease-in;
  opacity: 100%;
  background-color: #2a4144;
  border-radius: 0.75rem;
  padding: 1.5rem;
  color: #ffffff;
  font-family: inherit;
  font-size: 1.125rem;
  line-height: inherit;
}
@starting-style {
  .toast div {
    opacity: 0;
  }
}
.toast div p:first-of-type {
  display: flex;
  gap: 0.5rem;
  font-weight: bold;
}
.toast div p:first-of-type::before {
  content: "";
  display: inline-block;
  height: 1.5rem;
  aspect-ratio: 1;
  background: url("../assets/images/icon-success-check.svg") no-repeat center;
}
.toast div p:last-of-type {
  font-size: 1rem;
  margin-block-start: 0.5rem;
  color: #e0f1e8;
}

.required {
  color: #0c7d69;
}

.radio-selection {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.75rem;
  padding: 0.75rem 1.5rem;
  border: 1px solid #86a2a5;
  border-radius: 0.5rem;
}
.radio-selection input[type=radio] {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  outline: none;
}
.radio-selection:has(input:checked) {
  background-color: #e0f1e8;
  border: 1px solid #0c7d69;
  --radio-icon: url("../assets/images/icon-radio-selected.svg");
}
.radio-selection:has(input:focus, input:focus-visible) {
  outline: 1px solid #0c7d69;
}
.radio-selection::before {
  content: "";
  display: block;
  height: 1.5rem;
  aspect-ratio: 1;
  background: var(--radio-icon, url("../assets/images/icon-radio.svg")) no-repeat center;
}

.checkbox-input {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
.checkbox-input input[type=checkbox] {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  outline: none;
}
.checkbox-input:has(input:checked) {
  --radio-icon: url("../assets/images/icon-checkbox-check.svg");
}
.checkbox-input:has(input:focus, input:focus-visible) {
  outline: 1px solid #0c7d69;
}
.checkbox-input::before {
  content: "";
  display: inline-block;
  height: 1.5rem;
  aspect-ratio: 1;
  background: var(--radio-icon, url("../assets/images/icon-checkbox.svg")) no-repeat center;
}

.contact-form {
  padding: clamp(1.5rem, 0.5458rem + 4.0712vw, 2.5rem);
  background-color: #ffffff;
  border-radius: 1rem;
  inline-size: 100%;
  max-inline-size: min(12.7887rem + 36.9014vw, 46rem);
}
.contact-form label,
.contact-form input,
.contact-form textarea,
.contact-form button {
  inline-size: 100%;
}
.contact-form > * + * {
  margin-block-start: 2.5rem;
}
.contact-form .contact-form-body > * + * {
  margin-block-start: 1.5rem;
}
.contact-form .contact-form-body .contact-information {
  display: grid;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .contact-form .contact-form-body .contact-information {
    grid-template-columns: 1fr 1fr;
  }
  .contact-form .contact-form-body .contact-information :nth-child(4) {
    grid-row: 2;
    grid-column: 1/span 2;
  }
}
.contact-form .contact-form-body .contact-form-query > * + * {
  margin-block-start: 1rem;
}
.contact-form .contact-form-body .contact-form-query .query-inputs {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
@media (min-width: 768px) {
  .contact-form .contact-form-body .contact-form-query .query-inputs {
    flex-direction: row;
  }
}
.contact-form .contact-form-body .contact-form-query .query-inputs * {
  flex: 1;
}

/*# sourceMappingURL=main.css.map */
